.search {
    display: inline-block;
} 

.searchInputs {
    margin-top: 120px;
}

.search input {
    border: 1px solid #1c337d;
    font-size: 16px;
    height: 32px;
    width: 300px;
}

.searchIcon {
    float: right;
}

input:focus {
    outline: none;
}

button {
    height: 35px;
    background-color: #1c337d;
    border: 0;
    cursor: pointer;
    width: 40px;
}

.searchResult {
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: #4d4d4d 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.searchResult::-webkit-scrollbar {
    display: none;
}

.searchResult .searchItem {
    height: 50px;
    display: flex;
    color: black;
}

.searchItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #f0f8ff;
}

#clearBtn {
    cursor: pointer;
}

.searchIcon svg {
    color: white;
}